html{
    width:100%;
    height:100%;
}
body{
    margin:0;
    padding: 0;
    height:100%;
    background: #ffffff;
    overflow-x: hidden;
}

/*头部*/
body{
    background: #ffffff;
}
.header6{
    width: 100%;
    height:.9rem;
    background:#f65050;
    display: flex;
    flex-direction: row;
    position: fixed;
    top:0;
    z-index: 3000;
}

.logo6{
    width: 1.18rem;
    height: .5rem;
    margin: .2rem .24rem ;
}
.input6{
    width: 4.72rem;
    height: .4rem;
    border:.04rem solid #ffffff;
    border-radius:.2rem;
    margin-top: .21rem;
    display: flex;
    flex-direction: row;
}
.search6{
    width: .36rem;
    height: .36rem;
    margin-left: .12rem;

}
.text6{
    width: 3.4rem;
    height:.3rem;
    margin-top: .05rem;
    margin-left: .1rem;
    line-height: .3rem;
    background:#f65050;
    color: #ffffff;
}
.search7{
    color: #ffffff;
    font-size: .32rem;
    font-weight: bold;
    position: absolute;
    right:.24rem;
    top:.25rem;
}

/*退款说明*/
.drawback{
    width: 100%;
    height: 1.14rem;
    line-height: 1.14rem;
    display: flex;
    flex-direction:row;
    position: relative;
    margin-top: .9rem;
    border-bottom: .05rem solid #dfdfdf;
    overflow-x: hidden;

}
.text{
    font-size: .32rem;
    color: #000000;
    font-weight: bold;
    position: absolute;
    left: .3rem;
    overflow-x: hidden;
}

.text2{
    font-size: .32rem;
    color: #000000;
    font-weight: bold;
    position: absolute;
    left: .3rem;
    width: 100%;
    height: .32rem;
    margin-top: .4rem;
    margin-bottom: .4rem;
    overflow-x: hidden;
}
.type{
    width:3.2rem;
    height: 1.14rem;
    line-height: 1.14rem;
    position: absolute;
    right: .2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: hidden;
}
.type2{
    font-size: .32rem;
    color: #646464;
    font-weight: bold;
    text-align: right;
    width: 2.4rem;
    height: 100%;
    overflow-x: hidden;

}
.list{
    width: .27rem;
    height: .18rem;
    margin-left: .15rem;
    position: absolute;
    right:0;
    top:.45rem;
    overflow-x: hidden;
}
.title em{
	margin-left: 1.3rem;
	overflow-x: hidden;
}
.explain {
    width: 100%;
    height: 6.3rem;
    border-bottom: .05rem solid #dfdfdf;
    position: relative;
    overflow-x: hidden;
}
.text3{
    width: 6.95rem;
    height: 3.8rem;
    border: 1px solid #000000;
    background: #eeeeee;
    position: absolute;
    top:1.2rem;
    margin-left: .27rem;
    padding-top: .3rem;
    overflow-x: hidden;
}
.refund{
    width: 7rem;
    height: 1.15rem;
    background: #f65050;
    font-size: .58rem;
    font-weight: bold;
    text-align: center;
    line-height: 1.15rem;
    color: #ffffff;
    margin-left: .25rem;
    margin-top: .55rem;
    overflow-x: hidden;
}

/*遮罩层*/
.black{
    width: 100%;
    height: 100%;
    position:fixed;
    top:0;
    background: #666666;
    z-index: 5000;
    display: none;
    filter:alpha(opacity=70);  /*支持 IE 浏览器*/
    -moz-opacity:0.7; /*支持 FireFox 浏览器*/
    -khtml-opacity: 0.7; /*webkit内核浏览器*/
    opacity:0.7;  /*支持 Chrome, Opera, Safari 等浏览器*/

}
.alert{
    width: 100%;
    height: 4.7rem;
    position: absolute;
    top:50%;
    margin-top: -2.35rem;
    z-index: 10000;
    background:#ffffff;
    display:none;
}

/*禁止页面放大*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 1024px) {
	select:focus,
	textarea:focus,
	input:focus {
		font-size: 16px !important;
	}
}

.person3{
    width: 2.6rem;
    height: 2.6rem;
    margin-top: -1.2rem;
    margin-left: .3rem;
    border-radius:5px; ;
    float: left;
    overflow-x: hidden;
    
}

.delete2{
    width: 1.08rem;
    height: 1.08rem;
    float: right;
    margin-top: -1.1rem;
    margin-right: .3rem;
    overflow-x: hidden;

}
.title10{
    width: 100%;
    height: 1.1rem;
    background: #f65050;
    text-align: center;
    line-height: 1.12rem;
    font-size:.62rem;
    color: #ffffff;
    font-weight: bold;
    margin-top: .02rem;
    overflow-x: hidden;
}

.title2{
    display: flex;
    flex-direction: row;
    margin-left: .2rem;
    margin-top: .3rem;
    overflow-x: hidden;
    

}
.alert-header{
    width: 100%;
    height: .55rem;
    background: #f65050;
    overflow-x: hidden;
}
.shoplist{
    width: .38rem;
    height: .38rem;
    margin-left: .2rem;
    overflow-x: hidden;
}
.dian{
    font-size: .38rem;
    color: #000000;
    font-weight: bold;
    padding-left: .2rem;
    overflow-x: hidden;
}
.dian2{
    font-size: .38rem;
    color: #f65050;
    font-weight: bold;
    padding-left: .2rem;
    overflow-x: hidden;
}
.detail{
    font-size: .4rem;
    color: #000000;
    font-weight: bold;
    margin-top: .3rem;
    width: 90%;
    padding-left: .3rem;
    height: .8rem;
    margin-bottom: .5rem;
 }


.detail3{
    width: 100%;
    height:2.6rem;
    border-bottom: .05rem solid #dfdfdf;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
    display: none;
    overflow-x: hidden;
}

.detail4{
	width: 100%;
	height: 1rem;
	display: flex;
	flex-direction: row;
	margin-left: .27rem;
	margin-right: 1.34rem;
	position: relative;
	overflow-x: hidden;
}
.color{
    width: 100%;
    height: .25rem;
    background: #dfdfdf;
    overflow-x: hidden;
}
.title{
    width: 100%;
    height:2.3rem;
    display: flex;
    flex-direction:column;
    overflow-x: hidden;
}
.title div {
    width: 100%;
    height: 1.15rem;
    line-height: 1.15rem;
    font-size: .32rem;
    position: relative;
    font-weight: bold;
    overflow-x: hidden;
 }
.title div span{
    position: absolute;
    left: .26rem;
    color: #969696;
    overflow-x: hidden;

}

.check{
	position:absolute;
	right:.2rem;
	top:.36rem;
	background:url(../img/check.png) no-repeat;
    background-size:.36rem .42rem;
    width: .36rem;
    height: .42rem;
	}
.check:checked{background:url(../img/checked.png) no-repeat;background-size:.36rem .42rem;}

.check2{
	position:absolute;
	right:.2rem;
	top:.36rem;
	background:url(../img/check.png) no-repeat;
    background-size:.36rem .42rem;
    width: .36rem;
    height: .42rem;
	}
.check2:checked{background:url(../img/checked.png) no-repeat;background-size:.36rem .42rem;}
.shuru2{
	width: 2.4rem;
	height:.7rem;
	border:1px solid #000000;
	overflow-x: hidden;
}


.dot-top2 {
    font-size: 0;
    line-height: 0;
    border-width:.35rem;
    border-color:#ffffff;
    border-top-width: 0;
    border-style: dashed;
    border-bottom-style: solid;
    border-left-color: transparent;
    border-right-color: transparent;
    position: absolute;
    top:0;
    margin-top: -.05rem;
    left: .4rem;

}
.quxiao{
	text-align: center;
	width: 1.34rem;
	height: .7rem;
	border: 1px solid #000000;
	font-size: .32rem;
	font-weight: bold;
	color:#000000;
	line-height:.7rem ;
	margin-left: 1.35rem;
	overflow-x: hidden;
}
.queren{
	text-align: center;
	width: 1.36rem;
	height: .74rem;
	font-size: .32rem;
	font-weight: bold;
	color:#FFFFFF;
	line-height:.7rem ;
	background: #f65050;
	position: absolute;
	right:.5rem;
	overflow-x: hidden;
}

