/*头部*/
html{
    width:100%;
    height:100%;
}
body{
    margin:0;
    padding: 0;
    height:100%;
    background: #ffffff;
    position: relative;
}

.header{
    width: 100%;
    height:.9rem;
    background:#f65050;
    display: flex;
    flex-direction: row;
    position: fixed;
    top:0;
}

.logo{
    width: 1.18rem;
    height: .5rem;
    margin: .2rem .24rem ;
}
.input{
    width: 4.72rem;
    height: .4rem;
    border:.04rem solid #ffffff;
    border-radius:.2rem;
    margin-top: .21rem;
    display: flex;
    flex-direction: row;
}
.search{
    width: .36rem;
    height: .36rem;
    margin-left: .12rem;

}
.text{
    width: 3.4rem;
    height:.3rem;
    margin-top: .05rem;
    margin-left: .1rem;
    line-height: .3rem;
    background:#f65050;
    color: #ffffff;
}
.search2{
    color: #ffffff;
    font-size: .32rem;
    font-weight: bold;
    position: absolute;
    right:.24rem;
    top:.25rem;
}

/*中间自适应*/
.cust{
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top:.9rem;
    z-index: 100;
    bottom:1.4rem ;
}
.background{
    width: 7rem;
    height: 9.1rem;
    background: #dfdfdf;
    margin:.25rem auto 0 auto;
    position: relative;
}
.jiuping{
    width: 3.06rem;
    height: 8.06rem;
    position: absolute;
    left: 50%;
    top:.34rem;
    margin-left: -1.53rem;

}
.delete{
    width: 1.34rem;
    height: .55rem;
    background: #f65050;
    text-align: center;
    line-height: .55rem;
    color: #ffffff;
    font-size: .3rem;
    font-weight: bold;
    position: absolute;
    right: .2rem;
    top: .2rem;
    border-radius:.1rem;
}

#targetObj2{
    height:1.6rem;
    width:1.8rem;
    /*border-top:1.9rem solid #ffffff;
    border-left: .2rem solid transparent;
    border-right:.2rem solid transparent;*/
    border:1px solid red;
    position: relative;
    margin-left: 2.6rem;
    z-index: 10000;
    overflow: hidden;
    top:4.6rem;
    

}


.help{
    width: 7rem;
    height: .7rem;
    margin:.5rem auto .3rem auto;
    display:flex;
    flex-direction:row;
}
.help-text{
    width: 2.7rem;
    height: .66rem;
    border: 1px solid #f67b50;
    text-align: center;
    line-height: .66rem;
    font-size: .34rem;
    color: #f67b50;
    font-weight: bold;
    position: relative;
    border-radius:.2rem;
}
.why{
    width: .2rem;
    height: .2rem;
    position: absolute;
    right: .77rem;
    top:.1rem;
}
.getinto{
    width: .98rem;
    height: .52rem;
    margin-left: .3rem;
    margin-right: .12rem;
}
.help-upload{
    width: 2.7rem;
    height: .68rem;
    background: #f65050;
    line-height: .68rem;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: .34rem;
    border-radius:.2rem;
    position: absolute;
    right:.24rem;
    z-index: 10000;
}
input{
    width: 2.7rem;
    height: .68rem;
    background: #f65050;
    line-height: .68rem;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: .34rem;
    border-radius:.2rem;
    opacity: 0;
    position: absolute;
    top:0;
    right:0;
    z-index: 100;
}
.upload{
	width: 1.9rem;
	height: 1.6rem;
    position: absolute;
    left: 50%;
    top:0;
    margin-left: -.95rem;
    margin-top:0;
    z-index:20000;
}
.hehe{
	width: 1.8rem;
	height: 1.6rem;
    position: absolute;
    left: 50%;
    top:0;
    margin-left:0;
    margin-top:0;
    z-index:2000;
    background: #FFFFFF;
}
/*#upload2{
    width: 1.9rem;
    height: 1.9rem;
    position: absolute;
    left: 50%;
    top:0;
    margin-left: -.95rem;
    margin-top: -1.9rem;
}*/
/*底部*/
.foot{
    width: 100%;
    height: 1.34rem;
    position: fixed;
    bottom: 0;
    background: red;
    font-weight: bold;
    font-size: .66rem;
    display: flex;
    flex-direction: row;
    box-shadow: 0 -.08rem .2rem #b6a0a0;
    margin-top: .3rem;
    z-index: 1000;
}
.left{
    width: 50%;
    height: 1.34rem;
    line-height: 1.34rem;
    font-size: .66rem;
    color: #ffffff;
    text-align: center;
    background: #c8c8c8;
}
.right{
    width: 50%;
    height: 1.34rem;
    line-height: 1.34rem;
    font-size: .66rem;
    color: #ffffff;
    text-align: center;
    background: #f65050;
}

/*遮罩层*/
.black{
    width: 100%;
    height: 100%;
    position:fixed;
    top:0;
    background: #666666;
    z-index: 5000;
    display: none;
    filter:alpha(opacity=70);  /*支持 IE 浏览器*/
    -moz-opacity:0.7; /*支持 FireFox 浏览器*/
    -khtml-opacity: 0.7; /*webkit内核浏览器*/
    opacity:0.7;  /*支持 Chrome, Opera, Safari 等浏览器*/

}
.alert{
	width: 6rem;
	height:auto;
	background: #ffffff;
	position: absolute;
	left: 50%;
	top:50%;
	margin-left: -3rem;
	margin-top: -5.5rem;
	z-index:100000;
	display: none;
	border-radius:.2rem;
}
.alert-header{
	width:5.7rem;
	height: .77rem;
	background: #f65050;
	border-radius:.2rem .2rem 0 0;
	font-size: .34rem;
	font-weight: bold;
	color: #ffffff;
	line-height: .77rem;
	padding-left: .3rem;
}
.content {
    width: 5.6rem;
    height: auto;
    background: #ececec;
    margin: .2rem auto .2rem auto;
    border-radius: .1rem;
}
.up{
	font-size: .3rem;
	color: #000000;
	font-weight: bold;
	margin: .2rem auto .16rem auto;
	width: 100%;
	height:.3rem;	
	display: block;
	padding-top: .2rem;
	padding-left: .1rem;
	
}
p{
	font-size: .3rem;
	font-weight: bold;
	color:#6b6b6b;
	text-indent: .86rem;
	padding-bottom: .2rem;
	width: 90%;
	margin: 0 auto;
}
.confirm{
    width: 2.7rem;
    height: .78rem;
    background: #f65050;
    line-height: .78rem;
    color: #ffffff;
    font-size: .48rem;
    font-weight: bold;
    border-radius:.1rem;
    margin: 0 auto;
    text-align: center;
    margin-top: .4rem;
    margin-bottom: .4rem;

}
